@media screen and (max-width: 800px) {
  header {
    padding: 0;
  }
  header .right-header {
    padding: 2rem !important;
  }

  .theme-btn {
    width: 30px;
    height: 30px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header {
    .h-shape {
      display: none;
    }
    .video-container {
      height: 80% !important;
    }
  }

  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
    .h-shape {
      display: none;
    }
    .name {
      font-size: 2.5rem !important;
      margin: 0 auto !important;
      padding-left: 2.5rem;
      text-align: center;
    }
    p {
      text-align: center;
    }
    .btn-container {
      margin: 0 auto;
    }
    .social-media {
      padding-right: 3rem;
      margin: 0 auto;
      i {
        margin: 0 auto;
      }
    }
  }

  .about-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
  }
  .about-container {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    grid-template-columns: 1fr;
    .left-about {
      margin: 0 auto;
      padding-right: 0;
      h4 {
        font-size: 1.5rem;
        text-align: center;
      }
    }
    .right-about {
      grid-template-columns: 1fr;
      padding-top: 3rem;
    }
  }
  .about-stats {
    margin-bottom: 6rem;
    padding-top: 0;
  }

  section {
    padding: 2rem 2.5rem !important;
  }

  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .contact-container {
    grid-template-columns: 1fr;
    padding-top: 7rem;
    padding-bottom: 0;
    .left-contact {
      margin-top: 3rem;
      margin-bottom: 3rem;
      h4 {
        text-align: center;
      }
      .contact-info {
        padding-left: 6rem;
        p {
          text-align: justify;
          font-size: 1rem;
          span {
            font-size: 1rem;
          }
        }
      }
    }
    .right-contact {
      margin: 5rem auto;
    }
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    //background-color: var(--color-jetgrey);
    .control {
      margin: 1rem 0.3rem;
    }
  }

  .main-title {
    h2 {
      font-size: 2rem;
      .big-text {
        font-size: 3rem !important;
      }
    }
  }

  footer {
    margin-bottom: 4rem;
    padding: 0 1rem;
    p {
      font-size: 0.8rem;
    }
    .social-media {
      padding-right: 3rem;
      i {
        font-size: 1rem;
      }
    }
  }
} ;
